@keyframes column1 {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-600px);

    }
}
@keyframes column2 {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(600px);

    }
}
@keyframes column1ipad {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-1200px);

    }
}
@keyframes column2ipad {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(1200px);

    }
}

@keyframes column3vh {
    0% {
        transform: translateY(70px);
    }
    
    100% {
        transform: translateY(1190px);

    }
}

@keyframes column1vh {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-1120px);

    }
}






@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

