footer {
    animation: fadein 1s 11s forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue600);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 50px ;
    border-bottom-left-radius: 50px ;
    transition: 300ms ease-in-out;
    color: var(--white000);
    font-family: 'NotoSansRegular';
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
}

#days p:nth-child(1),
#hours p:nth-child(1),
#minutes p:nth-child(1),
#secondes p:nth-child(1){
    font-weight: 900;
    font-size: 20px;
   
}

#days, #hours,#minutes, #secondes {
    padding-left :20px;
    padding-right :20px;

}



    .countdown__container,
    .footertext__container,
    .email__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
        .email__input {
            background-color: var(--white000);
            padding: 20px;
            border-radius: 10px;
        }
            .email__input input {
                border: none;
                height: 26px;
            }

            .email__input button {
               
                border: none;
            }
                .button__validate {
                    display: none;
                }




.logo__container {
    animation: fadein 4s 500ms  forwards;
    opacity: 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.text__container {
    animation: fadein 4s 1s  forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white000);
    text-transform: uppercase;
    text-align: center;
}

.text__container h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms ease-in-out;
}

.text__container p {
    font-family: 'NotoSansRegular';
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--black400);
}

.text__container p:nth-child(2) {
    display: none;
}
.column__container {
    
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.column1__container {
    animation: column1 60s 30s linear infinite ;
    position: relative;
    display: flex;
    width: fit-content;
    left: -65px;  
    overflow: hidden;


}
.column2__container {
    animation: column2 60s 30s linear infinite ;
    position: relative;
    display: flex;
    width: fit-content;
    left: -622px; 
    overflow: hidden;
  
}
.column3__container {
    animation: column3 60s 30s linear infinite ;
    position: relative;
    display: flex;
    width: fit-content;
    left: 0px; 
    overflow: hidden;
 
}




.pic1 {    animation: fadein 300ms 8s forwards;
    opacity: 0;
    background-image: url("../img/Image-2.jpg");
    background-size: cover;
}
.pic2 {    animation: fadein 300ms 9s forwards;
    opacity: 0;
    background-image: url("../img/Image-3.jpg");
    background-size: cover;
}
.pic3 {    animation: fadein 300ms 10s forwards;
    opacity: 0;
    background-image: url("../img/Image-1.jpg");
    background-size: 200%;
    background-position: center;
}
.logo {
    background-image: url("../svg/Deklic_Logo_RVB_Couleurs_Fond_FonceÃÅ.svg");
    background-position: center;
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 10px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.color1 {
    animation: fadein 300ms 2s forwards;
    opacity: 0;
    background-color: var(--green900);
}
.color2 {
    animation: fadein 300ms 3s forwards;
    opacity: 0;
    background-color: var(--violet400);
}
.color3 {
    animation: fadein 300ms 4s forwards;
    opacity: 0;
    background-color: var(--green600);
}
.color4 {
    animation: fadein 300ms 5s forwards;
    opacity: 0;
    background-color: var(--brown400);
}
.color5 {
    animation: fadein 300ms 6s forwards;
    opacity: 0;
    background-color: var(--green400);
}
.color6 {
    animation: fadein 300ms 7s forwards;
    opacity: 0;
    background-color: var(--blue600);
}


.square__text {
    text-align: center;
    font-family: 'NotoSansRegular';
    font-size: 16px;
    line-height: 24px;
    color: var(--white000);
}

.square__text p:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.153);
    font-size: 12px;
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}
