

@media  (min-width: 700px) {
    .square {
        width: 250px;
        height: 200px;
    }

header {
    transition: 300ms ease-in-out;
}


.text__container h1 {
    font-size: 60px;
    width: 50%;
    transition: 300ms ease-in-out;
}

.text__container p {
    font-size: 16px;
    width: 50%;
    margin-left: auto;
    margin-right:auto ;
}



.square__text {
    text-align: center;
    font-family: 'NotoSansRegular';
    font-size: 16px;
    line-height: 24px;
    color: var(--white000);
}

.square__text p:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.153);
    font-size: 12px;
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}


}